body {
    font-family: Arial, sans-serif;
    background-image: url('/public/marble.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: relative; 
}

.about-me {
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    backdrop-filter: blur(50px);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 50px;
    width: 80%; 
}

h1, h2 {
    margin: 0;
}

.text {
    max-width: 100%;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
}
.profile-picture {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    margin-left: 20px;
}

.pfp-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.pfp-button img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50px; 
}

.project-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.project {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    backdrop-filter: blur(50px);
    padding: 15px;
    border-radius: 40px; 
    width: 200px; 
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.project img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 40px; 
    cursor: pointer;
}

.project:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}


